<ion-grid id="WhatDoYouWant" class="ion-hide-lg-up">
  <ion-row class="ion-padding-top ion-padding-bottom">
    <ion-col
      class="ion-justify-content-around ion-align-items-center ion-text-center"
    >
      <h2>{{ "WhatDoYouWant.TITLE" | translate }}</h2>
      <h3 class="text-primary">{{ "WhatDoYouWant.SUBTITLE" | translate }}</h3>
    </ion-col>
  </ion-row>

  <swiper-container
    slides-per-view="1"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    pagination="true"
    pagination-clickable="true"
    speed="1000"
  >
    <!-- Primo slide -->
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/fidelity.svg'"
          alt="{{ 'WhatDoYouWant.FIDELITY_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "WhatDoYouWant.FIDELITY_TITLE" | translate }}
        </h4>
        <ul>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.FIDELITY_DESCRIPTION" | translate }}
          </li>
        </ul>
      </ion-col>
    </swiper-slide>

    <!-- Secondo slide -->
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/promise.svg'"
          alt="{{ 'WhatDoYouWant.PROMISE_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "WhatDoYouWant.PROMISE_TITLE" | translate }}
        </h4>
        <ul>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.PROMISE_DESCRIPTION1" | translate }}
          </li>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.PROMISE_DESCRIPTION2" | translate }}
          </li>
        </ul>
      </ion-col>
    </swiper-slide>

    <!-- Terzo slide -->
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/advantages.svg'"
          alt="{{ 'WhatDoYouWant.ADVANTAGES_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "WhatDoYouWant.ADVANTAGES_TITLE" | translate }}
        </h4>
        <ul>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION1" | translate }}
          </li>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION2" | translate }}
          </li>
          <li class="ion-margin-bottom">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION3" | translate }}
          </li>
        </ul>
      </ion-col>
    </swiper-slide>
  </swiper-container>
</ion-grid>

<ion-grid id="WhatDoYouWant" class="ion-hide-lg-down">
  <ion-row class="ion-padding-vertical">
    <ion-col class="ion-justify-content-center ion-align-items-center">
      <h2 class="ion-text-center">{{ "WhatDoYouWant.TITLE" | translate }}</h2>
      <h3 class="ion-text-center">
        {{ "WhatDoYouWant.SUBTITLE" | translate }}
      </h3>
    </ion-col>
  </ion-row>
  <ion-row
    class="ion-justify-content-around ion-padding-bottom ion-padding-horizontal"
  >
    <ion-col class="ion-align-items-center ion-padding">
      <img
        [src]="Env.assetsUrl + '/img/utilities/fidelity.svg'"
        alt="{{ 'WhatDoYouWant.FIDELITY_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "WhatDoYouWant.FIDELITY_TITLE" | translate }}
      </h4>
      <ul>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.FIDELITY_DESCRIPTION" | translate }}
        </li>
      </ul>
    </ion-col>
    <ion-col class="ion-align-items-center ion-padding ion-margin-horizontal">
      <img
        [src]="Env.assetsUrl + '/img/utilities/promise.svg'"
        alt="{{ 'WhatDoYouWant.PROMISE_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "WhatDoYouWant.PROMISE_TITLE" | translate }}
      </h4>
      <ul>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.PROMISE_DESCRIPTION1" | translate }}
        </li>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.PROMISE_DESCRIPTION2" | translate }}
        </li>
      </ul>
    </ion-col>
    <ion-col class="ion-align-items-center ion-padding">
      <img
        [src]="Env.assetsUrl + '/img/utilities/advantages.svg'"
        alt="{{ 'WhatDoYouWant.ADVANTAGES_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "WhatDoYouWant.ADVANTAGES_TITLE" | translate }}
      </h4>
      <ul>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION1" | translate }}
        </li>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION2" | translate }}
        </li>
        <li class="ion-margin-bottom">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          {{ "WhatDoYouWant.ADVANTAGES_DESCRIPTION3" | translate }}
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-grid>
