<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">
        {{
          categoryId
            ? ("CategoryForm.UPDATE_TITLE" | translate)
            : ("CategoryForm.ADD_TITLE" | translate)
        }}
      </h1>
    </ion-col>
    <ion-col size="12">
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="categoryId ? updateCategory() : addCategory()"
        class="ion-text-center"
      >
        <!-- CategoryName -->
        <ion-item>
          <ion-input
            formControlName="categoryName"
            type="text"
            label="{{ 'CategoryForm.CATEGORY_NAME_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'CategoryForm.CATEGORY_NAME_PLACEHOLDER' | translate
            }}"
            [helperText]="getHelperText('categoryName') | translate"
            [errorText]="getErrorText('categoryName') ?? '' | translate"
            clearInput="true"
            counter="true"
            fill="outline"
            maxlength="100"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon name="medal" color="primary" slot="start"></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Submit -->
        <ion-button
          class="ion-margin-top ion-padding-top"
          [disabled]="categoryForm.invalid"
          type="submit"
        >
          {{
            categoryId
              ? ("CategoryForm.UPDATE_BUTTON_TEXT" | translate)
              : ("CategoryForm.ADD_BUTTON_TEXT" | translate)
          }}
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
