<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>{{ 'CookiesPage.TITLE' | translate }}</h2>
        <p>{{ 'CookiesPage.DESCRIPTION' | translate }}</p>

        <h3>{{ 'CookiesPage.TYPES_TITLE' | translate }}</h3>
        <ul>
          <li>{{ 'CookiesPage.TYPES.TECHNICAL' | translate }}</li>
          <li>{{ 'CookiesPage.TYPES.ANALYTICS' | translate }}</li>
          <li>{{ 'CookiesPage.TYPES.PROFILING' | translate }}</li>
        </ul>

        <h3>{{ 'CookiesPage.MANAGE_TITLE' | translate }}</h3>
        <p>{{ 'CookiesPage.MANAGE_DESCRIPTION' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
