<section class="form-container sign-up-container" id="RegisterForm2">
  <form action="#">
    <h1>Create Account</h1>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your email for registration</span>
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        [ngClass]="{
               'valid-input': registerForm.get('email')?.valid && registerForm.get('email')?.touched,
               'invalid-input': registerForm.get('email')?.invalid && registerForm.get('email')?.touched
             }"
      />
      <div
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
      >
        <small *ngIf="registerForm.get('email')?.errors?.['required']">
          {{ 'RegisterValidation.EMAIL_REQUIRED' | translate }}
        </small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">
          {{ 'RegisterValidation.EMAIL_FORMAT' | translate }}
        </small>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        [ngClass]="{
               'valid-input': registerForm.get('password')?.valid && registerForm.get('password')?.touched,
               'invalid-input': registerForm.get('password')?.invalid && registerForm.get('password')?.touched
             }"
      />
      <div
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']">
          {{ 'RegisterValidation.PASSWORD_REQUIRED' | translate }}
        </small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
          {{ 'RegisterValidation.PASSWORD_MINLENGTH' | translate }}
        </small>
        <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
          {{ 'RegisterValidation.PASSWORD_FORMAT' | translate }}
        </small>
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        [ngClass]="{
               'valid-input': registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched,
               'invalid-input': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched
             }"
      />
      <div
        *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid"
      >
        <small
          *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
        >
          {{ 'RegisterValidation.CONFIRM_PASSWORD_REQUIRED' | translate }}
        </small>
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['match']">
          {{ 'RegisterValidation.CONFIRM_PASSWORD_MATCH' | translate }}
        </small>
      </div>
    </div>
    <div>
      <label for="role">Role</label>
      <select
        id="role"
        formControlName="role"
        [ngClass]="{
               'valid-input': registerForm.get('role')?.valid && registerForm.get('role')?.touched,
               'invalid-input': registerForm.get('role')?.invalid && registerForm.get('role')?.touched
             }"
      >
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
      <div
        *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.invalid"
      >
        <small *ngIf="registerForm.get('role')?.errors?.['required']">
          {{ 'RegisterValidation.ROLE_REQUIRED' | translate }}
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</section>
