<ion-grid id="Hero">
  <ion-row>
    <ion-col
      size="12"
      size-lg="6"
      class="ion-justify-content-center ion-align-items-start"
    >
      <div class="ion-margin-bottom">
        <h1 class="ion-margin-bottom">
          <b>{{ "Hero.TITLE" | translate }}</b>
        </h1>
        <h2>
          <b>{{ "Hero.SUBTITLE" | translate }}</b>
        </h2>
      </div>
      <div id="inputContainer" class="ion-margin-top">
        <form (submit)="handleSubmit($event)">
          <ion-item>
            <ion-input
              #searchBar
              type="text"
              placeholder="Inserisci l'indirizzo di consegna"
              [(ngModel)]="address"
              (ionInput)="onInputChange($event)"
              (keydown)="onKeyDown($event)"
              autofocus="true"
              clearInput
              class="ion-padding-start"
            ></ion-input>
            <ion-button type="submit">Cerca</ion-button>
          </ion-item>

          @if (suggestions.length > 0) {
          <ion-list>
            @for (suggestion of suggestions; track $index; let i = $index) {
            <ion-item
              #suggestionItem
              (click)="selectAddress(suggestion)"
              [ngClass]="{ active: i === suggestionIndex }"
              >{{ suggestion.label }}
            </ion-item>
            }
          </ion-list>
          }
        </form>
      </div>
    </ion-col>
    <ion-col
      size="12"
      size-lg="6"
      class="ion-justify-content-center ion-align-items-center ion-padding"
    >
      <ion-img
        [src]="Env.assetsUrl + '/img/home/hero.png'"
        alt="{{ 'Hero.ALT_TEXT' | translate }}"
      />
    </ion-col>
  </ion-row>
</ion-grid>
