<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-align-items-center">
      <ion-row
        class="ion-justify-content-between ion-align-items-center ion-padding-horizontal"
      >
        <ion-col size="auto">
          <ion-img
            class="logo"
            [src]="Env.assetsUrl + '/img/utilities/logo.svg'"
            [routerLink]="[Path.Home]"
          ></ion-img>
        </ion-col>
        <ion-col
          size="auto"
          class="ion-justify-content-end ion-align-items-center"
        >
          <!-- Pulsante per la selezione della lingua -->
          <ion-button (click)="languagePopover($event)" fill="clear">
            <ion-icon [src]="currentFlag" slot="icon-only"></ion-icon>
          </ion-button>

          <!-- Popover per la selezione della lingua -->
          <ion-popover
            [isOpen]="isFlagMenuOpen()"
            (didDismiss)="isFlagMenuOpen.set(false)"
            [event]="languagePopoverEvent"
            side="bottom"
            alignment="end"
          >
            <ng-template>
              <ion-list>
                <!-- Selezione lingua italiana -->
                <ion-item button (click)="changeLanguage(IT)">
                  <ion-icon
                    slot="start"
                    [src]="Env.assetsUrl + '/img/utilities/it.svg'"
                  ></ion-icon>
                  <ion-label>{{
                    "Header.LANGUAGE_ITALY" | translate
                  }}</ion-label>
                  <ion-icon
                    slot="end"
                    *ngIf="
                      currentFlag === Env.assetsUrl + '/img/utilities/it.svg'
                    "
                    name="checkmark"
                  ></ion-icon>
                </ion-item>

                <!-- Selezione lingua inglese -->
                <ion-item button (click)="changeLanguage(EN)">
                  <ion-icon
                    slot="start"
                    [src]="Env.assetsUrl + '/img/utilities/en.svg'"
                  ></ion-icon>
                  <ion-label>{{
                    "Header.LANGUAGE_ENGLISH" | translate
                  }}</ion-label>
                  <ion-icon
                    slot="end"
                    *ngIf="
                      currentFlag === Env.assetsUrl + '/img/utilities/en.svg'
                    "
                    name="checkmark"
                  ></ion-icon>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>

          <!-- Pulsante tema -->
          <ion-button (click)="toggleTheme()" fill="clear" color="tertiary">
            <ion-icon
              *ngIf="currentTheme() === Store.LIGHT"
              name="sunny"
              slot="icon-only"
            ></ion-icon>
            <ion-icon
              *ngIf="currentTheme() === Store.DARK"
              name="moon"
              slot="icon-only"
            ></ion-icon>
          </ion-button>

          <!-- Pulsante per aprire il menu del profilo -->
          <ion-button (click)="profilePopover($event)" fill="clear">
            <ion-icon name="person-circle" slot="icon-only"></ion-icon>
          </ion-button>

          <!-- Popover per il menu del profilo -->
          <ion-popover
            [isOpen]="isProfileMenuOpen()"
            (didDismiss)="isProfileMenuOpen.set(false)"
            [event]="profilePopoverEvent"
            side="bottom"
            alignment="end"
          >
            <ng-template>
              <ion-list>
                <!-- Login -->
                @if (currentUser() === null) {
                <ion-item
                  button
                  [routerLink]="[Path.Login]"
                  (click)="closeProfileMenu()"
                >
                  <ion-icon
                    slot="start"
                    name="log-in-outline"
                    color="primary"
                  ></ion-icon>
                  <ion-label>{{ "Header.LOGIN" | translate }}</ion-label>
                </ion-item>
                } @if (currentUser() !== null) {
                <!-- Profile -->
                <ion-item button (click)="closeProfileMenu()">
                  <ion-icon
                    slot="start"
                    name="person-outline"
                    color="primary"
                  ></ion-icon>
                  <ion-label>{{ "Header.PROFILE" | translate }}</ion-label>
                </ion-item>

                <!-- Logout -->
                <ion-item button (click)="logout()">
                  <ion-icon
                    slot="start"
                    name="log-out-outline"
                    color="primary"
                  ></ion-icon>
                  <ion-label>{{ "Header.LOGOUT" | translate }}</ion-label>
                </ion-item>
                }
              </ion-list>
            </ng-template>
          </ion-popover>

          <!-- Pulsante Lista -->
          <ion-button
            id="open-modal"
            [attr.aria-label]="'Header.LIST_ALT' | translate"
            fill="clear"
            color="tertiary"
          >
            <ion-icon name="menu"></ion-icon
          ></ion-button>
          <ion-modal
            #modal
            class="modal"
            trigger="open-modal"
            [enterAnimation]="enterAnimation"
            [leaveAnimation]="leaveAnimation"
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Il mio account</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="modal.dismiss()">
                      <ion-icon name="close"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-row class="buttonsContainer ion-padding">
                  <ion-col size="6">
                    <ion-button
                      class="btn"
                      expand="block"
                      color="secondary"
                      [routerLink]="[Path.Login]"
                      (click)="modal.dismiss()"
                      >Accedi</ion-button
                    >
                  </ion-col>
                  <ion-col size="6">
                    <ion-button
                      class="btn"
                      expand="block"
                      color="primary"
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Register]"
                      >Crea un account</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-list>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.AboutUs]"
                      >About Us</ion-label
                    >
                  </ion-item>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Cookies]"
                      >Cookies</ion-label
                    >
                  </ion-item>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Contact]"
                      >Contact</ion-label
                    >
                  </ion-item>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Faq]"
                      >FAQ</ion-label
                    >
                  </ion-item>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Privacy]"
                      >Privacy</ion-label
                    >
                  </ion-item>
                  <ion-item button>
                    <ion-label
                      (click)="modal.dismiss()"
                      [routerLink]="[Path.Terms]"
                      >Terms</ion-label
                    >
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
