<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-align-items-center">
      <ion-row
        class="ion-justify-content-between ion-align-items-center ion-padding-horizontal"
      >
        <ion-col size="auto">
          <a href="/">
            <ion-img
              class="logo"
              src="../../../assets/img/utilities/logo.svg"
            ></ion-img>
          </a>
        </ion-col>
        <ion-col
          size="auto"
          class="ion-justify-content-end ion-align-items-center"
        >
          <!-- Pulsante per la selezione della lingua -->
          <ion-button (click)="presentPopover($event)" fill="clear">
            <ion-icon [src]="currentFlag" slot="icon-only"></ion-icon>
          </ion-button>

          <!-- Popover per la selezione della lingua -->
          <ion-popover
            [isOpen]="isOpen()"
            (didDismiss)="isOpen.set(false)"
            [event]="popoverEvent"
            side="bottom"
            alignment="end"
          >
            <ng-template>
              <ion-list>
                <ion-item
                  button
                  (click)="changeLanguage(IT)"
                  [attr.aria-label]="'Header.LANGUAGE_ITALY' | translate"
                >
                  <ion-icon
                    slot="start"
                    src="../../../assets/img/utilities/it.svg"
                  ></ion-icon>
                  <ion-label>{{
                    "Header.LANGUAGE_ITALY" | translate
                  }}</ion-label>
                  <ion-icon
                    slot="end"
                    *ngIf="
                      currentFlag === '../../../assets/img/utilities/it.svg'
                    "
                    src="../../../assets/img/utilities/check.svg"
                  ></ion-icon>
                </ion-item>
                <ion-item
                  button
                  (click)="changeLanguage(EN)"
                  [attr.aria-label]="'Header.LANGUAGE_ENGLISH' | translate"
                >
                  <ion-icon
                    slot="start"
                    src="../../../assets/img/utilities/en.svg"
                  ></ion-icon>
                  <ion-label>{{
                    "Header.LANGUAGE_ENGLISH" | translate
                  }}</ion-label>
                  <ion-icon
                    slot="end"
                    *ngIf="
                      currentFlag === '../../../assets/img/utilities/en.svg'
                    "
                    src="../../../assets/img/utilities/check.svg"
                  ></ion-icon>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>

          <!-- Pulsante Accedi -->
          <ion-button
            class="ion-padding-horizontal text-color ion-hide-lg-down"
            [attr.aria-label]="'Header.LOGIN' | translate"
            fill="clear"
            routerLink="/auth"
            color="tertiary"
          >
            <ion-icon
              slot="start"
              src="../../../assets/img/utilities/user.svg"
            ></ion-icon>
            <span class="ion-margin-start">{{
              "Header.LOGIN" | translate
            }}</span>
          </ion-button>

          <!-- Pulsante tema -->
          <ion-button (click)="toggleTheme()" fill="clear" color="tertiary">
            <ion-icon
              *ngIf="currentTheme() === 'light'"
              name="sunny"
              slot="icon-only"
            ></ion-icon>
            <ion-icon
              *ngIf="currentTheme() === 'dark'"
              name="moon"
              slot="icon-only"
            ></ion-icon>
          </ion-button>

          <!-- Pulsante Lista -->
          <ion-button
            id="open-modal"
            [attr.aria-label]="'Header.LIST_ALT' | translate"
            fill="clear"
            color="tertiary"
          >
            <ion-icon src="../../../assets/img/utilities/list.svg"></ion-icon
          ></ion-button>
          <ion-modal
            #modal
            class="modal"
            trigger="open-modal"
            [enterAnimation]="enterAnimation"
            [leaveAnimation]="leaveAnimation"
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Il mio account</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="modal.dismiss()">
                      <ion-icon name="close"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-row class="buttonsContainer ion-padding">
                  <ion-col size="6">
                    <ion-button class="btn" expand="block" color="secondary"
                      >Accedi</ion-button
                    >
                  </ion-col>
                  <ion-col size="6">
                    <ion-button class="btn" expand="block" color="primary"
                      >Crea un account</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-list>
                  <ion-item>
                    <ion-icon name="card-outline" slot="start"></ion-icon>
                    <ion-label>FAQ</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon
                      name="help-circle-outline"
                      slot="start"
                    ></ion-icon>
                    <ion-label>Ti serve aiuto?</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="bicycle-outline" slot="start"></ion-icon>
                    <ion-label>Diventa rider</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="briefcase-outline" slot="start"></ion-icon>
                    <ion-label>Just Eat for business</ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
