<ion-grid id="DownloadApp">
  <ion-row>
    <ion-col
      size="12"
      size-md="6"
      class="ion-justify-content-center ion-align-items-center ion-align-items-lg-start ion-padding-horizontal"
    >
      <div class="ion-text-center ion-margin-vertical">
        <h2 class="ion-margin-bottom">
          {{ "DownloadApp.TITLE" | translate }}
        </h2>
        <p>{{ "DownloadApp.SUBTITLE" | translate }}</p>
      </div>
      <div class="ion-text-center">
        <img
          class="ion-margin-horizontal"
          src="../../../../assets/img/home/appStore.png"
          alt="{{ 'DownloadApp.APP_STORE_ALT' | translate }}"
          [attr.aria-label]="'DownloadApp.APP_STORE_ALT' | translate"
        />
        <img
          src="../../../../assets/img/home/googlePlay.png"
          alt="{{ 'DownloadApp.GOOGLE_PLAY_ALT' | translate }}"
          [attr.aria-label]="'DownloadApp.GOOGLE_PLAY_ALT' | translate"
        />
      </div>
    </ion-col>
    <ion-col
      size="12"
      size-md="6"
      class="ion-justify-content-center ion-align-items-center ion-padding-top"
    >
      <ion-img
        src="../../../../assets/img/home/banner.png"
        alt="{{ 'DownloadApp.APP_IMAGE_ALT' | translate }}"
      >
      </ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
