<section class="form-container sign-in-container" id="LoginForm">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Sign in</h1>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your account</span>
    <div>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Email"
        [ngClass]="{
          'valid-input':
            loginForm.get('email')?.valid && loginForm.get('email')?.touched,
          'invalid-input':
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        }"
      />
      <div
        *ngIf="
          loginForm.get('email')?.touched && loginForm.get('email')?.invalid
        "
      >
        <small *ngIf="loginForm.get('email')?.errors?.['required']">
          {{ "LoginValidation.EMAIL_REQUIRED" | translate }}
        </small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">
          {{ "LoginValidation.EMAIL_FORMAT" | translate }}
        </small>
      </div>
    </div>
    <div>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
        [ngClass]="{
          'valid-input':
            loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched,
          'invalid-input':
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
        }"
      />
      <div
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        "
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']">
          {{ "LoginValidation.PASSWORD_REQUIRED" | translate }}
        </small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
          {{ "LoginValidation.PASSWORD_MINLENGTH" | translate }}
        </small>
        <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
          {{ "LoginValidation.PASSWORD_FORMAT" | translate }}
        </small>
      </div>
    </div>
    <a href="#">Forgot your password?</a>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</section>
