<section id="Hero" class="container-fluid">
  <div class="row">
    <div
      class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start px-5 px-md-10 py-10 pt-lg-0"
    >
      <div class="mb-5">
        <h1 class="mb-5"><b>{{ 'Hero.TITLE' | translate }}</b></h1>
        <h2><b>{{ 'Hero.SUBTITLE' | translate }}</b></h2>
      </div>
      <div id="inputWrapper" class="mt-5">
        <input type="text" placeholder="{{ 'Hero.PLACEHOLDER' | translate }}" />
        <i class="bi bi-x-circle"></i>
        <button
          type="button"
          class="btn btn2"
          [attr.aria-label]="'Hero.ARIA_LABEL_SEARCH' | translate"
        >
          {{ 'Hero.SEARCH_BUTTON' | translate }}
        </button>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center p-10"
    >
      <img
        class="img-fluid"
        src="../../../../assets/img/home/hero.png"
        alt="{{ 'Hero.ALT_TEXT' | translate }}"
      />
    </div>
  </div>
</section>
