<ion-grid id="HowItWorks" class="ion-hide-lg-up">
  <ion-row class="ion-padding-top">
    <ion-col
      class="ion-justify-content-around ion-align-items-center ion-text-center"
    >
      <h2>{{ "HowItWorks.TITLE" | translate }}</h2>
      <h3>{{ "HowItWorks.SUBTITLE" | translate }}</h3>
    </ion-col>
  </ion-row>
  <swiper-container
    slides-per-view="1"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    pagination="true"
    pagination-clickable="true"
    speed="1000"
  >
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/position.svg'"
          alt="{{ 'HowItWorks.STEP1_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "HowItWorks.STEP1_TITLE" | translate }}
        </h4>
        <p class="ion-text-center ion-padding-bottom">
          {{ "HowItWorks.STEP1_DESCRIPTION" | translate }}
        </p>
      </ion-col>
    </swiper-slide>
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/sandwich.svg'"
          alt="{{ 'HowItWorks.STEP2_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "HowItWorks.STEP2_TITLE" | translate }}
        </h4>
        <p class="ion-text-center ion-padding-bottom">
          {{ "HowItWorks.STEP2_DESCRIPTION" | translate }}
        </p>
      </ion-col>
    </swiper-slide>
    <swiper-slide>
      <ion-col class="ion-text-center ion-margin-vertical">
        <img
          [src]="Env.assetsUrl + '/img/utilities/cloche.svg'"
          alt="{{ 'HowItWorks.STEP3_ALT' | translate }}"
        />
        <h4 class="ion-text-center ion-margin-vertical">
          {{ "HowItWorks.STEP3_TITLE" | translate }}
        </h4>
        <p class="ion-text-center ion-padding-bottom">
          {{ "HowItWorks.STEP3_DESCRIPTION" | translate }}
        </p>
      </ion-col>
    </swiper-slide>
  </swiper-container>
</ion-grid>

<ion-grid id="HowItWorks" class="ion-hide-lg-down">
  <ion-row class="ion-padding-vertical">
    <ion-col
      class="ion-justify-content-around ion-align-items-center ion-text-center"
    >
      <h2>{{ "HowItWorks.TITLE" | translate }}</h2>
      <h3>{{ "HowItWorks.SUBTITLE" | translate }}</h3>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center ion-padding-bottom ion-margin-horizontal">
    <ion-col class="ion-text-center ion-margin-vertical" size="4">
      <img
        [src]="Env.assetsUrl + '/img/utilities/position.svg'"
        alt="{{ 'HowItWorks.STEP_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "HowItWorks.STEP1_TITLE" | translate }}
      </h4>
      <p class="ion-text-center">
        {{ "HowItWorks.STEP1_DESCRIPTION" | translate }}
      </p>
    </ion-col>
    <ion-col class="ion-text-center ion-margin-vertical" size="4">
      <img
        [src]="Env.assetsUrl + '/img/utilities/sandwich.svg'"
        alt="{{ 'HowItWorks.STEP_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "HowItWorks.STEP2_TITLE" | translate }}
      </h4>
      <p class="ion-text-center">
        {{ "HowItWorks.STEP2_DESCRIPTION" | translate }}
      </p>
    </ion-col>
    <ion-col class="ion-text-center ion-margin-vertical" size="4">
      <img
        [src]="Env.assetsUrl + '/img/utilities/cloche.svg'"
        alt="{{ 'HowItWorks.STEP_ALT' | translate }}"
      />
      <h4 class="ion-text-center ion-margin-vertical">
        {{ "HowItWorks.STEP3_TITLE" | translate }}
      </h4>
      <p class="ion-text-center">
        {{ "HowItWorks.STEP3_DESCRIPTION" | translate }}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
