<ion-card>
  <a [routerLink]="[Path.Store, store?.storeId]">
    <img
      alt="{{ store?.storeName }}'s cover"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
  </a>
  <ion-card-header>
    <a [routerLink]="[Path.Store, store?.storeId]"
      ><ion-card-title>{{ store?.storeName }}</ion-card-title></a
    >
    <ion-card-subtitle>{{ store?.storeTag }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{ store?.description }}</p>
    <p>Distanza: {{ store?.distance | number : "1.2-2" }} km</p>
  </ion-card-content>
</ion-card>
