.btn1 {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #efedea;
  }
}

.btn2 {
  color: white;
  font-size: 1.25rem;
  border-radius: 1rem;
  background-color: #ff8000;
  transition: background-color 0.3s;
  &:hover {
    background-color: #f15d00;
  }
}

.modal {
  --border-radius: 1rem;

  @media (min-width: 768px) {
    --max-height: 22rem;
  }
}

.btn {
  --border-radius: 1rem;
}

ion-input {
  --highlight-color-valid: #b3b3b3;
}
