.btn1 {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #efedea;
  }
}

.btn2 {
  color: white;
  font-size: 1.25rem;
  border-radius: 1rem;
  background-color: #ff8000;
  transition: background-color 0.3s;
  &:hover {
    background-color: #f15d00;
  }
}

.modal {
  --border-radius: 1rem;

  @media (min-width: 768px) {
    --max-height: 22rem;
  }
}

.btn {
  --border-radius: 1rem;
}

ion-input {
  --highlight-color-valid: #b3b3b3;
}

.cookieModal {
  --height: 50%;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px -2px 12px rgba(0, 0, 0, 0.1);
}
