<ion-grid id="AccountPreferences">
  <ion-row>
    <ion-col size="12">
      <h2>{{ "AccountPreferences.TITLE" | translate }}</h2>
    </ion-col>
    <ion-col size="12">
      <ion-accordion-group>
        <ion-accordion value="create-account">
          <ion-item slot="header">
            <ion-label>{{
              "AccountPreferences.QUESTIONS.CREATE_ACCOUNT" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              {{ "AccountPreferences.QUESTIONS.CREATE_ACCOUNT" | translate }}
            </p>
          </div>
        </ion-accordion>

        <ion-accordion value="recover-password">
          <ion-item slot="header">
            <ion-label>{{
              "AccountPreferences.QUESTIONS.RECOVER_PASSWORD" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              {{ "AccountPreferences.QUESTIONS.RECOVER_PASSWORD" | translate }}
            </p>
          </div>
        </ion-accordion>

        <ion-accordion value="save-favorite-restaurants">
          <ion-item slot="header">
            <ion-label>{{
              "AccountPreferences.QUESTIONS.SAVE_FAVORITE_RESTAURANTS"
                | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              {{
                "AccountPreferences.QUESTIONS.SAVE_FAVORITE_RESTAURANTS"
                  | translate
              }}
            </p>
          </div>
        </ion-accordion>

        <ion-accordion value="update-personal-information">
          <ion-item slot="header">
            <ion-label>{{
              "AccountPreferences.QUESTIONS.UPDATE_PERSONAL_INFORMATION"
                | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              {{
                "AccountPreferences.QUESTIONS.UPDATE_PERSONAL_INFORMATION"
                  | translate
              }}
            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-grid>
