<footer class="d-flex flex-column justify-content-center align-items-center">
  <div class="mt-4">
    <img
      class="logo"
      src="../../.././assets/img/utilities/logo.svg"
      alt="logo Just Eat"
    />
  </div>
  <div class="my-4">
    <span>Seguici</span>
  </div>
  <div class="mb-4">
    <img
      class="me-3"
      src="../../.././assets/img/utilities/facebook.svg"
      alt="logo Facebook"
    />
    <img
      class="me-3"
      src="../../.././assets/img/utilities/instagram.svg"
      alt="logo Instagram"
    />
    <img
      class="me-3"
      src="../../.././assets/img/utilities/x.svg"
      alt="logo X"
    />
    <img src="../../.././assets/img/utilities/youtube.svg" alt="logo Youtube" />
  </div>
</footer>
