<ion-footer class="ion-justify-content-center ion-align-items-center">
  <div class="ion-margin-top">
    <img
      class="logo"
      src="../../.././assets/img/utilities/logo.svg"
      alt="logo Just Eat"
    />
  </div>
  <div class="ion-margin-vertical">
    <span>Seguici</span>
  </div>
  <div class="ion-margin-bottom">
    <img
      class="ion-margin-end"
      src="../../.././assets/img/utilities/facebook.svg"
      alt="logo Facebook"
    />
    <img
      class="ion-margin-end"
      src="../../.././assets/img/utilities/instagram.svg"
      alt="logo Instagram"
    />
    <img
      class="ion-margin-end"
      src="../../.././assets/img/utilities/x.svg"
      alt="logo X"
    />
    <img src="../../.././assets/img/utilities/youtube.svg" alt="logo Youtube" />
  </div>
</ion-footer>
