<ion-footer class="ion-justify-content-center ion-align-items-center">
  <div class="ion-margin-top">
    <img
      class="logo"
      src="../../.././assets/img/utilities/logo.svg"
      alt="logo Just Eat"
    />
  </div>
  <div class="ion-margin-vertical">
    <span>Seguici</span>
  </div>
  <div class="ion-margin-bottom">
    <ion-icon name="logo-facebook" size="large"></ion-icon>
    <ion-icon name="logo-instagram" size="large"></ion-icon>
    <ion-icon name="logo-twitter" size="large"></ion-icon>
    <ion-icon name="logo-youtube" size="large"></ion-icon>
  </div>
  <div>
    <a [routerLink]="['/info/aboutUs']">About Us</a>
    <a [routerLink]="['/info/contact']">Contact</a>
  </div>
</ion-footer>
