ion-footer {
  display: flex;
  flex-direction: column;
  .logo {
    width: 199px;
    aspect-ratio: auto 199 / 48;
    height: 48px;
  }
  ion-icon {
    margin: 1rem;
  }

  a {
    display: block;
    text-decoration: none;
  }

  #links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
  }
}
