<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">
        {{ "StoreForm.ADD_TITLE" | translate }}
      </h1>
    </ion-col>
    <ion-col size="12">
      <form
        [formGroup]="storeForm"
        (ngSubmit)="addStore()"
        class="ion-text-center"
      >
        <!-- StoreName -->
        <ion-item>
          <ion-input
            formControlName="storeName"
            type="text"
            label="{{ 'StoreForm.STORE_NAME_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'StoreForm.STORE_NAME_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('storeName') | translate"
            [errorText]="getErrorText('storeName') ?? '' | translate"
            clearInput="true"
            counter="true"
            fill="outline"
            maxlength="100"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="storefront-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Address -->
        <ion-item>
          <ion-input
            #addressInput
            formControlName="address"
            type="text"
            label="{{ 'StoreForm.ADDRESS_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'StoreForm.ADDRESS_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('address') | translate"
            [errorText]="getErrorText('address') ?? '' | translate"
            clearInput="true"
            fill="outline"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="location-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- City -->
        <ion-item>
          <ion-input
            formControlName="city"
            type="text"
            label="{{ 'StoreForm.CITY_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'StoreForm.CITY_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('city') | translate"
            [errorText]="getErrorText('city') ?? '' | translate"
            clearInput="true"
            fill="outline"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="business-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- CAP -->
        <ion-item>
          <ion-input
            formControlName="cap"
            type="text"
            label="{{ 'StoreForm.CAP_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'StoreForm.CAP_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('cap') | translate"
            [errorText]="getErrorText('cap') ?? '' | translate"
            counter="true"
            fill="outline"
            maxlength="5"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="mail-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- PhoneNumber -->
        <ion-item>
          <ion-input
            formControlName="phoneNumber"
            type="tel"
            label="{{ 'StoreForm.PHONE_NUMBER_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'StoreForm.PHONE_NUMBER_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('phoneNumber') | translate"
            [errorText]="getErrorText('phoneNumber') ?? '' | translate"
            clearInput="true"
            counter="true"
            fill="outline"
            maxlength="15"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="call-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Submit -->
        <ion-button
          class="ion-margin-top ion-padding-top"
          [disabled]="storeForm.invalid"
          type="submit"
        >
          {{ "StoreForm.ADD_BUTTON_TEXT" | translate }}
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
