<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">{{ "LoginForm.TITLE" | translate }}</h1>
    </ion-col>
    <ion-col size="12">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email -->
        <ion-item>
          <ion-input
            formControlName="email"
            type="email"
            label="{{ 'LoginForm.EMAIL_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'LoginForm.EMAIL_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('email') | translate"
            [errorText]="getErrorText('email') ?? '' | translate"
            autocomplete="email"
            autofocus="true"
            clearInput="true"
            counter="true"
            fill="outline"
            inputmode="email"
            minlength="0"
            maxlength="50"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item>
          <ion-input
            formControlName="password"
            type="password"
            label="{{ 'LoginForm.PASSWORD_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{ 'LoginForm.PASSWORD_PLACEHOLDER' | translate }}"
            [helperText]="getHelperText('password') | translate"
            [errorText]="getErrorText('password') ?? '' | translate"
            autocomplete="current-password"
            clearInput="true"
            counter="true"
            fill="outline"
            inputmode="password"
            minlength="6"
            maxlength="50"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d])[A-Za-z\d\S]{6,}$"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="finger-print"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Links -->
        <div class="ion-text-center ion-margin-top">
          <ion-text>
            <a [routerLink]="[Path.ForgotPassword]">
              {{ "LoginForm.LINK_FORGOT_PASSWORD" | translate }}
            </a>
          </ion-text>
        </div>
        <div class="ion-text-center ion-margin-top">
          <ion-text>
            <a [routerLink]="[Path.Register]">
              {{ "LoginForm.LINK_REGISTER" | translate }}
            </a>
          </ion-text>
        </div>

        <!-- Submit -->
        <ion-button
          class="iion-margin-top ion-padding-top"
          [disabled]="loginForm.invalid"
          type="submit"
        >
          {{ "LoginForm.BUTTON_TEXT" | translate }}
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
