<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1>{{ "LoginForm.TITLE" | translate }}</h1>
      <h2>{{ "LoginForm.SUBTITLE" | translate }}</h2>
    </ion-col>
    <ion-col size="12">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email -->
        <ion-item>
          <ion-input
            formControlName="email"
            type="email"
            label="Email"
            label-placement="floating"
            placeholder="pippo@gmail.com"
            [helperText]="
              loginForm.get('email')?.touched && loginForm.get('email')?.valid
                ? ('LoginForm.EMAIL_VALID' | translate)
                : ('LoginForm.EMAIL_HELPER' | translate)
            "
            [errorText]="
              loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']
                ? ('LoginForm.EMAIL_REQUIRED' | translate)
                : loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']
                ? ('LoginForm.EMAIL_FORMAT' | translate)
                : ''
            "
            autocomplete="email"
            autofocus="true"
            clearInput="true"
            counter="true"
            fill="outline"
            inputmode="email"
            minlength="0"
            maxlength="50"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="person-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item>
          <ion-input
            formControlName="password"
            type="password"
            label="Password"
            label-placement="floating"
            placeholder="password"
            [helperText]="
              loginForm.get('password')?.touched &&
              loginForm.get('email')?.valid
                ? ('LoginForm.PASSWORD_VALID' | translate)
                : ('LoginForm.PASSWORD_HELPER' | translate)
            "
            [errorText]="
              loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']
                ? ('LoginForm.PASSWORD_REQUIRED' | translate)
                : loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['password']
                ? ('LoginForm.PASSWORD_FORMAT' | translate)
                : ''
            "
            autocomplete="password"
            clearInput="true"
            counter="true"
            fill="outline"
            inputmode="password"
            minlength="0"
            maxlength="50"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="finger-print"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <ion-fab
          class="ion-margin-top ion-padding-top"
          vertical="bottom"
          horizontal="end"
        >
          <ion-fab-button [routerLink]="['/home']">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
