<ion-grid id="LoginForm">
  <ion-row>
    <ion-col>
      <h1 class="ion-text-center">Sign in</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-input
            id="email"
            formControlName="email"
            type="email"
            placeholder="Email"
            [ngClass]="{
              'valid-input':
                loginForm.get('email')?.valid &&
                loginForm.get('email')?.touched,
              'invalid-input':
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
            }"
          />
          <ion-icon name="person-outline"></ion-icon>
          <div
            *ngIf="
              loginForm.get('email')?.touched && loginForm.get('email')?.invalid
            "
          >
            <small *ngIf="loginForm.get('email')?.errors?.['required']">
              {{ "LoginValidation.EMAIL_REQUIRED" | translate }}
            </small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">
              {{ "LoginValidation.EMAIL_FORMAT" | translate }}
            </small>
          </div>
        </ion-item>
        <ion-item>
          <ion-input
            id="password"
            formControlName="password"
            type="password"
            placeholder="Password"
            [ngClass]="{
              'valid-input':
                loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched,
              'invalid-input':
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
            }"
          />
          <ion-icon name="lock-closed-outline"></ion-icon>
          <div
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            "
          >
            <small *ngIf="loginForm.get('password')?.errors?.['required']">
              {{ "LoginValidation.PASSWORD_REQUIRED" | translate }}
            </small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
              {{ "LoginValidation.PASSWORD_MINLENGTH" | translate }}
            </small>
            <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
              {{ "LoginValidation.PASSWORD_FORMAT" | translate }}
            </small>
          </div>
        </ion-item>
        <a>Forgot your password?</a>
        <a>Already registered?</a>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <ion-fab vertical="bottom" horizontal="end">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
