<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>{{ 'TermsPage.TITLE' | translate }}</h2>
        <p>{{ 'TermsPage.DESCRIPTION' | translate }}</p>

        <h3>{{ 'TermsPage.USE_TITLE' | translate }}</h3>
        <p>{{ 'TermsPage.USE_DESCRIPTION' | translate }}</p>

        <h3>{{ 'TermsPage.INTELLECTUAL_TITLE' | translate }}</h3>
        <p>{{ 'TermsPage.INTELLECTUAL_DESCRIPTION' | translate }}</p>

        <h3>{{ 'TermsPage.CHANGES_TITLE' | translate }}</h3>
        <p>{{ 'TermsPage.CHANGES_DESCRIPTION' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
