<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">
        {{
          productId
            ? ("ProductForm.UPDATE_TITLE" | translate)
            : ("ProductForm.ADD_TITLE" | translate)
        }}
      </h1>
    </ion-col>
    <ion-col size="12">
      <form
        [formGroup]="productForm"
        (ngSubmit)="productId ? updateProduct() : addProduct()"
        class="ion-text-center"
      >
        <!-- ProductType -->
        <ion-item>
          <ion-select
            formControlName="productTypeId"
            interface="popover"
            label="{{ 'ProductForm.PRODUCT_TYPE_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'ProductForm.SELECT_PRODUCT_TYPE_PLACEHOLDER' | translate
            }}"
            clearInput="true"
            fill="outline"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            @for (productType of productTypes(); track $index; let i = $index) {
            <ion-select-option [value]="productType.ProductTypeId">
              {{ productType.ProductTypeName }}
            </ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- ProductName -->
        <ion-item>
          <ion-input
            formControlName="productName"
            type="text"
            label="{{ 'ProductForm.PRODUCT_NAME_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'ProductForm.PRODUCT_NAME_PLACEHOLDER' | translate
            }}"
            [helperText]="getHelperText('productName') | translate"
            [errorText]="getErrorText('productName') ?? '' | translate"
            clearInput="true"
            counter="true"
            fill="outline"
            maxlength="100"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="productfront-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- ProductPrice -->
        <ion-item>
          <ion-input
            formControlName="productPrice"
            type="number"
            label="{{ 'ProductForm.PRODUCT_PRICE_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'ProductForm.PRODUCT_PRICE_PLACEHOLDER' | translate
            }}"
            [helperText]="getHelperText('productPrice') | translate"
            [errorText]="getErrorText('productPrice') ?? '' | translate"
            counter="true"
            fill="outline"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="pricetag-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- ProductDescription -->
        <ion-item>
          <ion-textarea
            formControlName="productDescription"
            label="{{ 'ProductForm.DESCRIPTION_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'ProductForm.DESCRIPTION_PLACEHOLDER' | translate
            }}"
            [helperText]="getHelperText('productDescription') | translate"
            [errorText]="getErrorText('productDescription') ?? '' | translate"
            clearInput="true"
            fill="outline"
            maxlength="500"
            shape="round"
            required
            class="ion-margin-vertical"
          >
            <ion-icon
              name="information-circle-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-textarea>
        </ion-item>

        <!-- ProductImg -->
        <ion-item>
          <ion-input
            formControlName="productImg"
            type="file"
            accept="image/*"
            (change)="onFileChange($event)"
            label="{{ 'ProductForm.PRODUCT_IMG_LABEL' | translate }}"
            label-placement="floating"
            placeholder="{{
              'ProductForm.PRODUCT_IMG_PLACEHOLDER' | translate
            }}"
            [helperText]="getHelperText('productImg') | translate"
            [errorText]="getErrorText('productImg') ?? '' | translate"
            clearInput="true"
            fill="outline"
            shape="round"
            class="ion-margin-vertical"
          >
            <ion-icon
              name="image-outline"
              color="primary"
              slot="start"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Submit -->
        <ion-button
          class="ion-margin-top ion-padding-top"
          [disabled]="productForm.invalid"
          type="submit"
        >
          {{
            productId
              ? ("ProductForm.UPDATE_BUTTON_TEXT" | translate)
              : ("ProductForm.ADD_BUTTON_TEXT" | translate)
          }}
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
